.DS_Store
4T_Unity_project/Library/
4T_Unity_project/Temp/
4T_Unity_project/.idea/
4T_Unity_project/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
4T_Unity_project/.vs/
4T_Unity_project/.vsconfig
4T_Unity_project/4T_Unity_project.sln
4T_Unity_project/Assembly-CSharp.csproj
4T_Unity_project/Assembly-CSharp-Editor.csproj
4T_Unity_project/Assembly-CSharp-Editor-firstpass.csproj
4T_Unity_project/Assembly-CSharp-firstpass.csproj
